<div class="row">
  <div class="col-md-8">
    <h1>Artist ID: {{ artist.artistID }}</h1>
    <h2>Artist Name: {{ artist.name }}</h1>
  </div>
  <div class="col-md-4">
    <button class="btn btn-primary" ng-click="startListening()">LISTEN</button>
    <h3>{{ artist.weight }}</h3>
  </div>
</div>

<div class="row">
  <h1>Tags</h1>
  <div class="col-md-4">
    <input type="text" class="form-control" ng-model="selectedTag" bs-options="tag.tag_value for tag in tags" placeholder="Enter tag" bs-typeahead>
    <br/><br/>
    <button class="btn btn-lg btn-primary" ng-click="assignTag()">Assign Tag</button>
  </div>
  <div class="col-md-8 well">
    <div class="col-md-2" ng-repeat="tag in artist.artist_tags | unique:'tagID'">
      <span class="label label-default">{{ tag.tag_value }}</span>
    </div>
  </div>
</div>